.current-weather-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .city {
    grid-column: span 2;
  }

  .current-temperature {
    grid-column: 3;
    text-align: right;
  }

  .description {
    grid-column: 1 / 3;
  }
}
